$enable-deprecation-messages: false;

// Import Bootstrap SCSS (functions, variables, mixins first for customization)
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Custom variables
$card-height: 100%;

// Import full Bootstrap SCSS (this includes everything)
@import 'bootstrap/scss/bootstrap';

// Global styles
html, body {
  overflow-x: hidden;
}
